<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <title>NHL_nearest_neighbor</title>
</head>

<body>
    <h1 style="color:darkred;">
         Profile for {{ players[0].name }}
    </h1>

    <hr/>
    <table class="table table-hover">
         <thead>
            <tr>
                <th>Player Name</th>
                <th>| Predicted Points Year 4</th>
                <th>| Actual Points Year 4</th>
            </tr>
         </thead>

         <tbody>
            {% for player in players %}
               <tr>
                   <td>{{ player.name }}</td>
                   <td>| {{ player.predicted_points }}</td>
                   <td>| {{ player.actual_points }}</td>
               </tr>
            {% endfor %}
         </tbody>

      </table>

    <hr/>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="chart_div"></div>

      <script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawMultSeries);

var player = '{{ players[0].name }}'
var nn1_name = '{{ players[0].nn1_name }}';
var nn1_points = parseInt('{{ players[0].nn1_points }}');
var nn2_name = '{{ players[0].nn2_name }}';
var nn2_points = parseInt('{{ players[0].nn2_points }}');
var nn3_name = '{{ players[0].nn3_name }}';
var nn3_points = parseInt('{{ players[0].nn3_points }}');
var nn4_name = '{{ players[0].nn4_name }}';
var nn4_points = parseInt('{{ players[0].nn4_points }}');
var nn5_name = '{{ players[0].nn5_name }}';
var nn5_points = parseInt('{{ players[0].nn5_points }}');

function drawMultSeries() {
      var data = google.visualization.arrayToDataTable([
        ['Player', 'Year 4 points'],
        [nn1_name, nn1_points],
        [nn2_name, nn2_points],
        [nn3_name, nn3_points],
        [nn4_name, nn4_points],
        [nn5_name, nn5_points]
      ]);

      var options = {
        title: '5 Nearest neighbors to ' + player,
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Actual points produced in year 4',
          minValue: 0
        },
        vAxis: {
          title: 'Player name'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>

    <hr/>

    <h3>
         Make a new query
    </h3>

    <form action="/" method=post>
      <dl>
        <input type=text size=20 name=player_name_input placeholder="Enter new player name">
        <input type=submit value="Search nearest neighbor" class="btn btn-primary">
      </dl>
    </form>

    <hr/>

    <h3>Details on features used for identification of nearest neighbors</h3>

        <ul>
            <li><b>Number of games played </b> in each of the player's first 3 seasons</li>
            <li><b>Average goals scored per game </b> in each of the player's first 3 seasons</li>
            <li><b>Average assists made per game </b> in each of the player's first 3 seasons</li>
            <li><b>Average hits per game </b> in each of the player's first 3 seasons</li>
            <li><b>Average shot blocks per game </b> in each of the player's first 3 seasons</li>
            <li><b>Average time on ice per game </b> in each of the player's first 3 seasons</li>
            <li><b>Season plus-minus </b> in each of the player's first 3 seasons</li>

        </ul>

    <hr/>

</body>

<p align="center"><a href=return_to_home ><button class=grey style="height:25px;width:150px">Return to home</button></a></p>

</html>
